[submodule "jmet"]
	path = jmet
	url = https://github.com/matthiaskaiser/jmet
	branch = master
[submodule "kekeo"]
	path = kekeo
	url = https://github.com/gentilkiwi/kekeo
[submodule "php-malware-finder"]
	path = php-malware-finder
	url = https://github.com/jvoisin/php-malware-finder
[submodule "AWD-Predator-Framework"]
	path = AWD-Predator-Framework
	url = https://github.com/Ares-X/AWD-Predator-Framework.git
[submodule "AngelSword"]
	path = AngelSword
	url = https://github.com/Lucifer1993/AngelSword
[submodule "dedecmscan"]
	path = dedecmscan
	url = https://github.com/lengjibo/dedecmscan.git
[submodule "awd-weblogger"]
	path = awd-weblogger
	url = https://github.com/wupco/weblogger
[submodule "jwt_tool"]
	path = jwt_tool
	url = https://github.com/ticarpi/jwt_tool
[submodule "fastjson_rec_exploit"]
	path = fastjson_rec_exploit
	url = git@github.com:kmahyyg/fastjson_rec_exploit.git
[submodule "Apache-Solr-RCE"]
	path = Apache-Solr-RCE
	url = https://github.com/Imanfeng/Apache-Solr-RCE.git
[submodule "ShiroExploit"]
	path = ShiroExploit
	url = https://github.com/feihong-cs/ShiroExploit
[submodule "win_only-XshellDecrypt"]
	path = win_only-XshellDecrypt
	url = https://github.com/HyperSine/how-does-Xmanager-encrypt-password
[submodule "PrintSpoofer"]
	path = PrintSpoofer
	url = https://github.com/itm4n/PrintSpoofer
[submodule "SysTracingPoc"]
	path = SysTracingPoc
	url = https://github.com/itm4n/SysTracingPoc
[submodule "nmap-vulners"]
	path = nmap-vulners
	url = https://github.com/vulnersCom/nmap-vulners
[submodule "domainTools"]
	path = domainTools
	url = https://github.com/SkewwG/domainTools.git
[submodule "MySQL-Auth-Server"]
	path = MySQL-Auth-Server
	url = https://github.com/Diefunction/MySQL-Auth-Server
[submodule "ThinkphpRCE"]
	path = ThinkphpRCE
	url = https://github.com/sukabuliet/ThinkphpRCE.git
[submodule "WeblogicScan"]
	path = WeblogicScan
	url = https://github.com/rabbitmask/WeblogicScan.git
[submodule "SpringBootVulExploit"]
	path = SpringBootVulExploit
	url = https://github.com/LandGrey/SpringBootVulExploit
[submodule "FastjsonExploit"]
	path = FastjsonExploit
	url = https://github.com/c0ny1/FastjsonExploit
[submodule "dvcs-ripper"]
	path = dvcs-ripper
	url = https://github.com/kost/dvcs-ripper.git
